html,
body {
  margin: 0px;
  padding: 0px;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #f9f3f3;
}

.notepad {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
  min-width: 70%;
  min-height: 250px;
  overflow: hidden;
  position: relative;
  border: 0px solid black;
  color: #f25287;
  font-family: Roboto;
}
.notepad .menu {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}
.notepad .menu h1 {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 60px;
  font-family: Lobster;
}
.notepad .menu button {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.notepad .file {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-size: 17px;
}
.notepad .file a,
.notepad .file a:focus,
.notepad .file a:active {
  color: #f25287;
}
.notepad .file .list {
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  overflow: hidden;
}
.notepad .file ul {
  height: 200px;
  margin: 0px;
  padding: 10px 20px;
  list-style: none;
  overflow-y: scroll;
  font-size: 20px;
}
.notepad .file button {
  font-size: 15px;
  margin-top: 10px;
}
.notepad .editor {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.notepad .editor input {
  font-size: 17px;
}
.notepad .editor textarea {
  height: 150px;
  font-size: 15px;
}
.notepad .editor input,
.notepad .editor textarea {
  border: 2px solid #dddddd;
  border-radius: 5px;
  padding: 10px 7px;
  margin-bottom: 7px;
}
.notepad .editor input:focus,
.notepad .editor textarea:focus {
  outline: none;
  border-color: #f25287;
}
.notepad .editor button {
  font-size: 15px;
  margin-top: 10px;
}

.btn, .notepad .menu button, .notepad .file button, .notepad .editor button {
  color: #484848;
  padding: 5px 12px;
  cursor: pointer;
  border: 2px solid #dddddd;
  border-radius: 7px;
  transition: all 0.2s;
  background-color: transparent;
}

.btn:hover, .notepad .menu button:hover, .notepad .file button:hover, .notepad .editor button:hover {
  color: #f9f3f3;
  border-color: #f25287;
  background-color: #f25287;
}

.show {
  animation-name: show;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.hide {
  animation-name: hide;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes show {
  0% {
    opacity: 0;
    left: -350px;
    position: relative;
    visibility: visible;
  }
  100% {
    opacity: 1;
    left: 0px;
    position: relative;
    visibility: visible;
  }
}
@keyframes hide {
  0% {
    left: 0px;
    opacity: 1;
    visibility: visible;
  }
  100% {
    left: 350px;
    opacity: 0;
    visibility: hidden;
  }
}
/* helpers */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}
